#weatherWrapper {
    margin: 2rem 0;
    padding: 0 1rem;
    color: var(--font-color);
}

#weatherFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#weatherRight {
    text-align: right;
    margin-right: 30px;
}

#currentWeather {
    font-size: 2em;
    margin-left: 50px;
    font-style: italic;
}

#cityName {
    font-size: 60px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#date {
    margin: 0;
    text-align: center;
    font-style: italic;
}

#cityWrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cityWrapper img {
    margin-right: 40px;
}